@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


body 
{
	background-color: #EBE8E4;
	color: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.content
{
	background-color: #CCCCFF;
}

.jumbotron
{
	background: url("./Los-Angeles-Slider1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 20px; 
	margin: 20px;
}

.jumbotron h1
{
	font-size: 50px;
	color: rgb(255,255,255);
	font-family: 'Shift', sans-serif;
	margin: 20px;
}

.jumbotron p
{
	font-size: 20px;
	color: rgb(200,200,200);
	margin: 20px;
}

.content
{
	margin: 20px;
	padding: 20px;
}

.content h3
{
	font-size: 30px;
	background-color: #FFCCFF;
	font-family: "Comic Sans MS", cursive, sans-serif;
	width: 140px;
	padding: 10px;
	margin-bottom: 30px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 10px;
}

.content p 
{
	padding: 10px;
	font-family: Helvetica;
	font-size: 20px;
	margin: 10px;
	padding-bottom: 50px;
}

.footer
{
	margin: 20px;
	padding: 20px;
}

.container
{
	margin: 20px;
	padding: 20px;
}

.city
{
	margin: 20px;
	padding-top: 40px;
	background-color: #FFFFCC;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

