@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


body 
{
	background-color: #EBE8E4;
	color: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.jumbotron
{
	background-image: url("./chengdu copy.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 20px; 
	margin: 20px;
}

.jumbotron h1
{
	font-size: 50px;
	color: rgb(0,0,0);
	font-family: 'Shift', sans-serif;
	margin: 20px;
}

.jumbotron p
{
	font-size: 20px;
	color: rgb(200,200,200);
	margin: 20px;
}

.content
{
	margin: 20px;
	padding: 20px;
}

.content h3
{
	font-size: 25px;
	margin-left: 20px;
}

.footer
{
	margin: 20px;
	padding: 20px;
}

.container
{
	margin: 20px;
	padding: 20px;
}

.city
{
	margin: 20px;
	padding-top: 40px;
}

