.multicol
{
	  -webkit-column-count: 3;
  	-moz-column-count: 2;
  	column-count: 2;
}

.verticalCenter 
{
	  margin:20px;
    position: relative;  
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}

.embedVideo
{
	margin: 30px;
  padding-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.flow
{
	position: absolute;
	top: 2621px;
	left: 240px;
	color: white;
	font-weight: bold;
	font-size: 50px;
	bottom: 0;
  font-family: Arial;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover 
{
    opacity: 0.5;
}

.photoGallery
{
  display: none;
  position:absolute;
  top:3400px;
  bottom:4000px;
  left: 100px;
  right: 100px;
}





