.multicol
{
	-webkit-column-count: 3;
  	-moz-column-count: 2;
  	column-count: 2;
}

.verticalCenter 
{
	margin:20px;
    position: relative;  
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}

.embedVideo
{
	margin: 30px;
	position: relative;
	overflow: hidden;
}

.flow
{
	position: absolute;
	top: 2000px;
	left: 250px;
	color: white;
	font-weight: bold;
	font-size: 80px;
	bottom: 0;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
      opacity: 0.5;
      }






