@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

body 
{
	background-color: #EBE8E4;
	color: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.jumbotron
{
	background-image: url("./chengdu copy.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 20px; 
	margin: 20px;
}

.jumbotron h1
{
	font-size: 50px;
	color: rgb(0,0,0);
	font-family: 'Shift', sans-serif;
	margin: 20px;
}

.jumbotron p
{
	font-size: 20px;
	color: rgb(200,200,200);
	margin: 20px;
}

.nav 
{
	width: 100%; 
	background-color: white;
	padding: 5px;
}

.nav ul li 
{
	display: inline;
	margin-right: 3px;
}

.nav ul li a 
{
    color: #5a5a5a;
  	font-size: 20px;
  	font-weight: bold;
  	padding-left: 15px;
  	padding-right: 15px;
  	text-transform: uppercase
}

.nav ul li a:hover 
{
    color: white;
    background-color: black;
}

.stickyNav
{
	position: fixed;
	width: 100%;
	padding: 5px;
	top: 0;
    z-index: 100;  
    border-top: 0; 
    background-color: white;
}

.content
{
	margin: 20px;
	padding: 20px;
}

.content h3
{
	font-size: 25px;
	margin-left: 20px;
}

.footer
{
	margin: 20px;
	padding: 20px;
}

.container
{
	margin: 20px;
	padding: 20px;
}

.city
{
	margin: 20px;
	padding-top: 50px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
